@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #94b9ff;
  --primary-blue-hover: #b1dcec;
  --secondary-green: #ccfed9;
  --secondary-blue: #94b9fe;
  --text-dark-blue: #bdc6d2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --color-primary: var(--primary-blue);
  --color-primary-hover: var(--primary-blue-hover);
  --color-secondary: var(--secondary-green);
  --color-tertiary: var(--secondary-blue);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
